In [1]:
#Import libraries
import pandas as pd

In [2]:
#Load data
df_netflix = pd.read_csv('/content/sample_data/NetflixViewingHistory.csv')

In [3]:
#View data
df_netflix

                                                  Title      Date
0            Russian Doll: Season 2: Station to Station    5/4/22
1                   Russian Doll: Season 2: Brain Drain    5/3/22
2             Russian Doll: Season 2: Coney Island Baby   4/26/22
3                        Russian Doll: Season 2: Nowhen   4/26/22
4     Eternally Confused and Eager for Love: Season ...   4/10/22
...                                                 ...       ...
1967                    The OA: Part I: Chapter 4: Away  12/22/16
1968                The OA: Part I: Chapter 3: Champion  12/22/16
1969            The OA: Part I: Chapter 2: New Colossus  12/22/16
1970              The OA: Part I: Chapter 1: Homecoming  12/22/16
1971                                 The Imitation Game  12/21/16

[1972 rows x 2 columns]

In [4]:
#How many entries AKA rows are in the data?
rows = len(df_netflix.axes[0])
print("Number of Rows: " + str(rows))

Number of Rows: 1972

In [5]:
#How many columns are in the data?
cols = len(df_netflix.axes[1])
print("Number of Columns: " + str(cols))

Number of Columns: 2

In [6]:
#What is the name of the first column in the data?
df_netflix.columns[0]

'Title'

In [7]:
#What is the name of the second column in the data?
df_netflix.columns[1]

'Date'

In [8]:
#How many times was an episode of the show Designated Survivor watched according to the data?
df_netflix["Title"].apply(lambda title: "Designated Survivor" in title).sum()

10

In [9]:
#When was the starting date of watching the show Bridgerton according to the data?
df_netflix.loc[["Bridgerton" in title for title in df_netflix["Title"]], "Date"].sort_values(ascending=True).iloc[0]

'1/8/21'

In [10]:
#What is the title of the first episode of the show Bridgerton watched according to the data?
df_netflix.loc[["Bridgerton" in title for title in df_netflix["Title"]], :].sort_values("Date", ascending=True)["Title"].iloc[0]

'Bridgerton: Season 1: An Affair of Honor'

In [11]:
#When was the last date of watching the show Bridgerton according to the data?
df_netflix.loc[["Bridgerton" in title for title in df_netflix["Title"]], "Date"].sort_values(ascending=False).iloc[0]

'4/4/22'

In [12]:
#What is the title of the last episode of the show Bridgerton watched according to the data?
df_netflix.loc[["Bridgerton" in title for title in df_netflix["Title"]], :].sort_values("Date", ascending=False)["Title"].iloc[0]

'Bridgerton: Season 2: The Viscount Who Loved Me'